/* Home Sass */
//== Main Slider New Start
.carousel-caption {
  left: 10%;
  padding-bottom: 5%;
  right: 0;
  text-align: left;
  top:30%;
  h1 {
    color: $white-ff;
    font-size: 48px;
    text-shadow: none;
    span {
      border-radius: 35px;
      padding: 10px 15px;
    }
  }
  h2{
    color: $white-ff;
    margin-top: 25px;
    text-shadow: none;
    span {
      border-radius: 35px;
      padding: 10px 15px;
    }
  }
  h3{
    color: $white-ff;
    margin-top: 25px;
    text-shadow: none;
    span {
      border-radius: 35px;
      padding: 10px 15px;
    }
  }
  p {
    color: $white-ff;
  }
  a {
    text-transform: uppercase;
    color: $white-ff;
    background: $black-11;
    padding: 6px 12px;
  }
  button {
    border-radius: 25px;
    margin-top: 10px;
  }
}
.carousel-caption {
  &.style3 {
    bottom: 0;
    left: 0;
    padding: 0 5%;
    padding-bottom: 0;
    right: 0;
    text-align: center;
  }
}
.carousel-inner {
  .item {
    a {
      img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;  
      }
    }
    img {
      display: block;
      height: auto;
      max-width: 100%;
      width: 100%;      
    }
  }
}
.item.active img {
  transition: transform 5000ms linear 0s;
  transform: scale(1.05, 1.05);
}
.carousel-fade {
  .carousel-inner {
    .active {
      opacity: 1;
    }
    .next {
      &.left {
        opacity: 1;
      }
      &.right {
        opacity: 1;
      }
    }
  }
  .carousel-control {
    z-index: 2;
    font-size: 80px;
  }
}
.carousel-indicators li {
  background-color: $gray-lightest;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
  height: 12px;
  margin: 1px;
  text-indent: -999px;
  width: 12px;
  border: 0;
  .active {
    background-color: $black-44;
    height: 12px;
    margin: 0;
    width: 12px;
    border: 0;
  }
}
@media all and (transform-3d),
(-webkit-transform-3d) {
  .carousel-fade .carousel-inner > .item.next,
  .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.prev,
  .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
  .carousel-fade .carousel-inner > .item.next.left,
  .carousel-fade .carousel-inner > .item.prev.right,
  .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
  }
}
// Main Slider New End
.home-slider {
  overflow-x: hidden;
  .home-app {
    position: relative;
  }
  .pogoSlider--navBottom {
    .pogoSlider-nav {
      bottom: 25px;
    }
  }
  .pogoSlider-nav-btn {
    border-radius: 0;
    height: 5px;
    width: 20px;
  }
}
.ulockd-home-btn {
  border-radius: 30px;
}
.ulockd-home-btn {
  border-radius: 30px;
}
//== Shop Home Slider Start
#custom_carousel  {
  .item {
    color: $black;
    background-color: $gray-lighter;
    padding: 20px 0;
  }
  .controls{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    text-align: center;
    position: relative;
    background: $gray-gainsboro;
    li {
      display: table-cell;
      width: 1%;
      max-width: 90px;
      &.active {
        background-color: $gray-lighter;
      }
    }
    a {
      small {
        display: block;
        font-size: 10px;
        font-weight: bold;
        margin-top: 5px;
        overflow: hidden;
      }
    }
  }
}
//== Shop Home Slider End
.ulockd-parallax-bg {
  padding-bottom: 500px;
  padding-top: 300px;
  &.form_style {
    padding: 200px 0;
  }
}
//== PgSlider
.pogoSlider {
  h1, 
  h2,
  h3, 
  h4, 
  p {
    color: $white-ff;
  }
}